<div class="click-closed"></div>
<div class="box-collapse">
<span class="close-box-collapse right-boxed bi bi-x"></span>
 <div class="container">
    <div class="row">
        {{form_start(form)}}
          <div class="col-md-6 mt-5 pt-5">
              <div  class="form-group">

                <label  class="pb-2"  for="Type">Surface Minimale</label>

                {{ form_row(form.minSurface, {'attr': {'class': 'form-control form-control-lg form-control-a'}}) }}
              </div>
        </div>

         <div class="col-md-6 mb-2">
              <div  class="form-group">

                <label class="pb-2" for="Type">Prix Maximale</label>

                {{ form_row(form.maxPrice, {'attr': {'class': 'form-control form-control-lg form-control-a'}}) }}
              </div>
        </div>

          <div class="col-md-6 mb-2">
              <div  class="form-group">

                <label class="pb-2" for="Type">Recherche par options</label>

                {{ form_row(form.options, {'attr': {'class': 'form-control form-control-lg form-control-a'}}) }}
              </div>
        </div>
        
        <div class="col-md-6 mb-2 mx-5 my-5 px-5">

          <button class="btn btn-b">Rechercher une propriété</button>

        </div>
{{form_end(form)}}

    </div>
    
 </div>
 </div>
 